#mainPic {
    margin-top: 40px;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}

#backgrounddiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    pointer-events: none;
}

p {
    font-size: 27px;
    font-weight: normal;
    color: white;
}
